.circleinput{
  border: solid 1px #CCC;
  border-radius: 15px;
}

.circleDiv {
  overflow: hidden;
  border-radius: 50%;
}

.circleDiv > img {
  width: 100%;
  height: auto;
}

.gray-font{
  color: #6B6B6B;
}
